1차 - 관계대수/
기말 프로젝트/기타 - test
기말 프로젝트/발표
기말 프로젝트/제출 전 코드 _ 여러 주석 포함
기말 프로젝트/소스코드/web_search_interface
기말 프로젝트/.idea
기말 프로젝트/발표 영상 유튜브 url.txt

SQL과제 문제풀이.pdf
SQL과제.pdf

connectDB.py
movieCrawling.py
*.txt
*.png
*.zip

/.idea
.DS_Store